[Unit]
Description=Caps Lock Light Controller
Documentation=https://github.com/YasmeenYasser611/ITI_9M_QT/tree/main/CapsLock_Task3
After=multi-user.target

[Service]
ExecStart=/usr/bin/CapsLock_Task3
WorkingDirectory=/usr/bin/
Restart=on-failure

# Running as root, change if needed
User=root
Group=root

# Set environment variables for Qt on Wayland
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=QT_QPA_PLATFORM=wayland

[Install]
WantedBy=multi-user.target

